= f.input :user_id, label: false, input_html: { value: current_user.id, type: 'hidden', name: "addresses_form[#{type}][user_id]" }
= f.input :order_id, label: false, input_html: { value: current_order.id, type: 'hidden', name: "addresses_form[#{type}][order_id]" }
= f.input :first_name, required: false, input_html: { name: "addresses_form[#{type}][first_name]" }
= f.input :last_name, required: false, input_html: { name: "addresses_form[#{type}][last_name]" }
= f.input :address, required: false, input_html: { name: "addresses_form[#{type}][address]" }
= f.input :city, required: false, input_html: { name: "addresses_form[#{type}][city]" }
= f.input :zip, required: false, input_html: { name: "addresses_form[#{type}][zip]" }
= f.input :country, required: false, prompt: "Select country", input_html: { name: "addresses_form[#{type}][country]" }
= f.input :phone, required: false, placeholder: 'Example +355661234567', input_html: { name: "addresses_form[#{type}][phone]" }